.button {
  font-family: "Roboto", sans-serif;
  padding: 24px 54px;
  border-radius: 999px;
  font-size: 1.3rem;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.2s ease;
}

/* ===== PRIMARY ===== */
.button--primary {
  background-color: var(--color-primary-light-10);
  color: var(--color-text-primary-bg);
}

.button--primary:hover:not(:disabled) {
  background-color: var(--color-primary-light-40);
  border: 2px solid var(--color-text-primary-bg);
}

.button--primary:disabled {
  background-color: var(--color-black-light-90);
  color: var(--color-black-light-60);
  cursor: not-allowed;
}

/* ===== BLACK ===== */
.button--black {
  background-color: var(--color-black-normal);
  color: var(--color-white-normal);
}

.button--black:hover:not(:disabled) {
  border: 2px solid var(--color-white-normal);
  background-color: var(--color-black-light-10);
}

.button--black:disabled {
  background-color: var(--color-black-light-90);
  color: var(--color-black-light-60);
  cursor: not-allowed;
}
