.hero {
  min-height: 80vh;
  background-image: url("../../assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}

.hero-content {
  max-width: 600px;
  padding: 20px;
  margin-top: 150px;
}

.hero-welcome {
  font-size: 2rem;
  color: var(--color-secondary-dark-80);
}

.hero-logo img {
  width: 50%;
  margin: 20px;
}

.hero-subtitle {
  font-size: 1.3rem;
  color: var(--color-secondary-dark-80);
  line-height: 1.5;
}
