.book {
  background-color: var(--color-white-normal);
  padding: 0px 20px 80px;
}

.book-content {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0px;
}

.book-cover img {
  width: 35%;
}

.book-description {
  max-width: 600px;
  font-size: 1.1rem;
  line-height: 1.7;
  margin-bottom: 40px;
}

.friends-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 40px;
}

.friend-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 5px 15px;
  border: 2px solid var(--color-black-light-30);
  border-radius: 50px;
}

.friend-info img {
  width: 30px;
}
